{% extends 'core/base.html' %} 
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-brands fa-salesforce  fa-7x mb-3 i-color"></i>
      <h3>Salesforce Administration</h3>
      <p class="ss-color">Hotel Reservation App</p>
      <p>
       <div class="text-center text-justified">
        The Hotel Reservation App is for customers to Reserve various types of
        rooms in hotels at various locations. Hotel employees can also create
        reservations for the customers.
       </div>
      </p>
    </div>
        <div class="col-sm-4">
      <i class="fa-solid fa-mug-hot fa-7x mb-3 i-color"></i>
      <h3>Advance Java
      </h3>
      <p class="ss-color">Online Parking Management System (Backend)</p>
      <p>
       <div class="text-center text-justified">
        Parking Management System (PMS) is designed to efficiently manage parking facilities. This system is particularly
        useful in environments such as shopping malls, office buildings, airports, and other locations with large parking
        areas. It is developed in Java(Spring Boot) for backend.
       </div>
      </p>
    </div>
      <div class="col-sm-4">
      <i class="fa-brands fa-react fa-7x mb-3 i-color"></i>
      <h3>React Js</h3>
      <p class="ss-color">Online Parking Management System (Front End)</p>
      <p>
       <div class="text-center text-justified">
        Parking Management System (PMS) is designed to efficiently manage parking facilities. This system is particularly
        useful in environments such as shopping malls, office buildings, airports, and other locations with large parking
        areas. It is developed in React Js for frontend.
       </div>
      </p>
    </div>
  </div>
  
  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-database fa-7x mb-3 i-color"></i>
      <h3>MySQL</h3>
      <p class="ss-color">Online Parking Management System (Database)</p>
      <p>
       <div class="text-center text-justified">
        Parking Management System (PMS) is designed to efficiently manage parking facilities. This system is particularly
        useful in environments such as shopping malls, office buildings, airports, and other locations with large parking
        areas. We use MYSQL as a database management.
       </div>
      </p>
    </div>
        <div class="col-sm-4">
      <i class="fa-brands fa-js fa-7x mb-3 i-color"></i>
      <h3>Java Script
      </h3>
      <p class="ss-color">Calculator , Functions for PMS</p>
      <p>
       <div class="text-center text-justified">
       Developed Calculator for calculation and functions for the Online Parking Management System using JavaScript.
       </div>
      </p>
    </div>
      <div class="col-sm-4">
      <i class="fa-brands fa-battle-net  fa-7x mb-3 i-color"></i>
      <h3>.NET</h3>
      <p class="ss-color">Student Registration Form</p>
      <p>
       <div class="text-center text-justified">
        Developed Student Registration Form for registration using .NET desktop also used MySQL server to handle the database.
       </div>
      </p>
    </div>
  </div>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
     <i class="fa-brands fa-python fa-7x mb-3 i-color"></i>
      <h3>Python</h3>
      <p class="ss-color">e-commerce websites</p>
      <p>
       <div class="text-center text-justified">
        Developed e-commerce websites useing python django web framework.
       </div>
      </p>
    </div>
      <div class="col-sm-4">
      <i class="fa-brands fa-aws fa-7x mb-3 i-color"></i>
      <h3>AWS Cloud</h3>
      <p class="ss-color">For hosting the project on AWS EC2</p>
      <p>
       <div class="text-center text-justified">
      AWS cloud is used to host the project on AWS EC2  
       </div>
      </p>
    </div>
      <div class="col-sm-4">
      <i class="fa-brands fa-github fa-7x mb-3 i-color"></i>
      <h3>Git Hub</h3>
      <p class="ss-color">For the deployment of the project</p>
      <p>
       <div class="text-center text-justified">
        The Git Hub is used for version controlling of the project , creating different repositories and branches.
       </div>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
